{%extends 'base.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
  <title>{%block title%}{{category.name}}{%endblock%}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->


<!-- Main Content -->
<div class="container-fluid mt-4 bg-dark text-light">
  <div class="row">
    <!-- Left Side -->
    <div class="col-md-3">
      <nav class="navbar navbar-expand-md bg-btn-outline-secondary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar2">
          <ul class="list-group">
            <div class="btn btn-outline-primary d-flex justify-content-between me-2 mb-3 mb-sm-2 mt-2">
                <a href="{% url 'category_items' 0 %}" style="text-decoration:none;">All</a>
            </div>
            {% for category in categories %}
            <div class="btn btn-outline-primary d-flex justify-content-between me-2 mb-3 mb-sm-2 mt-2">
                <a href="{% url 'category_items' category.id %}" style="text-decoration:none">{{ category }}:</a>
                <span class="badge bg-dark text-white ms-1 rounded-pill">{{ category.items.count }}</span>
            </div>
            {% endfor %}
            
          </ul>
        </div>
      </nav>
    </div>

    <!-- Middle Side -->
    <div class="col-md-6">
      <h2>{{category.name}}</h2>
      <!-- List of user's items -->
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
            
            {% for item in items %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    {% if item.is_on_sale %}
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    {% endif %}
                    <!-- Product image-->
                    {%if item.image%}
                    <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" />
                    {%else%}
                    <img class="card-img-top" src="{% static 'images/No_image_available.svg.png'%}" alt="{{ item.name }}" />
                    {%endif%}
                    <!-- Product details-->
                    <div class="card-body p-4">
                      
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ item.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% for i in "12345" %}
                                {% if i|add:"-1" < item.rating %}
                                <div class="bi-star-fill"></div> <!-- Filled star -->
                                {% else %}
                                <div class="bi-star"></div> <!-- Empty star -->
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Product price-->
                            {% if item.sale %}
                            <span class="text-muted text-decoration-line-through">{{ item.regular_price }}</span>
                            {% endif %}
                            {{ item.price }}
                        </div>
                    </div>
                    <form method="POST" action="{% url 'add_to_cart' item_id=item.id %}">
                    <!-- Product actions-->
                    {% csrf_token %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        
                        <div class="text-center"><button type="submit" class="btn btn-outline-dark mt-auto">Add to Cart</button></div>
                    </div>
                </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
{%endblock%}

